@import 'reboot';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700|Nunito:400,400i,700,800|Quicksand:700|Ubuntu+Mono:400,700|Ubuntu:400,400i,700|Work+Sans:400,700&display=swap');
h1 {
  font-size: 32px;
  font-family: Quicksand, sans-serif;
}
.display {
  font-size: 40px;
  font-weight: 700, 400;
  font-family: 'Fredoka One', sans-serif;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: Quicksand, sans-serif;
}
body {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Work Sans', sans-serif;
}
