$cupid: #f8b6e6;
$rose-pink: #f16dcd;
$razzle-dazzle-rose: #ee49c1;
$perfume: #d9b9f7;
$soft-purple: #b474ee;
$lavender-indigo: #a151ea;
$non-photo-blue: #abdaef;
$malibu: #58b5de;
$curious-blue: #2ea3d6;
$beryl-green: #dfefc1;
$yellow-green: #c0e084;
$conifer: #b0d865;
$dairy-cream: #fbe5bb;
$chardonnay: #f7cb77;
$casablanca: #f5be54;
$apricot: #fcc8b4;
$salmon: #f99169;
$outrageous-orange: #f77645;
$sundown: #fab5b3;
$pastel-red: #f56a68;
$carmine-pink: #f24541;
$hint-of-red: #fafafa;
$charcoal: #474747;
$tuatara: #373737;
$onyx: #0f0f0f;
