@import '../css/globalstyles';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #0f0f0f;
}
.display {
  font-family: Nunito;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .slide {
    padding: 30px 16px 30px 16px;
  }
}
h1 {
  font-family: Nunito;
}
h2 {
  font-family: 'Nunito Sans';
}
h3 {
  font-family: Nunito sans;
}
img {
  border-radius: 4px;
}
a {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wb {
  background-color: #fafafa;
  border-radius: 0.25em;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
}
* > a > img {
  align-items: center;
}
@media (max-width: 576px) {
  .grid3 {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: max-content;
  }
}
