@import '../css/globalstyles';
.cms {
  @extend .slide;
  background-image: url('./assets/red_top.svg'),
    url('./assets/green_bottom.svg');
  background-repeat: no-repeat;
  background-size: auto 100px, auto 100px;
  background-position: top -8px left -8px, bottom -8px right -8px;
  background-clip: padding-box;
  padding-bottom: 40px;
  padding-top: 40px;

  padding-right: 70px;
  padding-left: 60px;
}
.display {
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 700;
}
h1 {
  font-family: Quicksand;
}
h2 {
  font-family: 'Ubuntu Mono';
}
img {
  border-radius: 4px;
}
