@import '../css/globalstyles';
.cms {
  @extend .slide;
  background-image: url('./assets/red_top.svg'),
    url('./assets/green_bottom.svg');
  background-repeat: no-repeat;
  background-size: auto 100px, auto 100px;
  background-position: top -8px left -8px, bottom -8px right -8px;
  background-clip: padding-box;
  padding-bottom: 40px;
  padding-top: 40px;

  padding-right: 70px;
  padding-left: 60px;
}
@media (max-width: 576px) {
  .cms {
    padding: 80px 16px 80px 16px;
  }
}
.display {
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 700;
}
h1 {
  font-family: Quicksand;
}
h2 {
  font-family: 'Ubuntu Mono';
}
img {
  border-radius: 4px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
}
* > a > img {
  align-items: center;
}
@media (max-width: 576px) {
  .grid3 {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: max-content;
  }
}
